.contact-details {
    width: 100%;
    margin: 30px auto;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 10px;
    background-color: #3A3B3C;
}

.contact-details + div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media(min-width:40rem){
    .contact-details{
        width: 70%;
    }
}